<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Similitud | UNAM </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('bundles/public/css/bootstrap.min.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/public/plugins/datatables/dataTables.bootstrap.css') }}">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
                <link rel="stylesheet" href="{{ asset('bundles/public/css/AdminLTE.min.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/public/css/skins/_all-skins.min.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/public/plugins/iCheck/flat/blue.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/public/plugins/pace/pace.css') }}">
                <link href="{{ asset('bundles/public/css/vis.css') }}" type="text/css" />
            {% endblock %}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="{{ path('_index') }}" class="logo">
                <span class="logo-mini"><b>GIL</b></span>
                <span class="logo-lg"><b>Similitud GIL</b></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('bundles/public/images/user.png') }}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{ app.session.get('name') }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="{{ asset('bundles/public/images/user.png') }}" class="img-circle" alt="User Image">
                                    <p>
                                        {{ app.session.get('name') }}
                                        <small>{{ app.session.get('username') }}</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        {% if app.session.get('username') == 'public' %}
                                            <a href="http://www.corpus.unam.mx:8069/web/login?redirect=http%3A//www.corpus.unam.mx/similitud" class="btn btn-default btn-flat">Iniciar Sesión</a>
                                        {% else %}
                                            <a href="{{ path('_logout') }}" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{{ asset('bundles/public/images/user.png') }}" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>{{ app.session.get('name') }}</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Conectado</a>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">ACCIONES</li>
                    <li class="treeview active">
                        <a>
                            <i class="fa fa-home"></i>
                            <span>Menú</span>
                        </a>
                        {% if app.session.get('username') != 'public' %}
                            <ul class="treeview-menu">
                                <li><a href="{{ path('_consultar') }}"><i class="fa fa-list-ol"></i> Consultar similitud</a></li>
                            </ul>
                        {% endif %}
                    </li>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2016 <a href="http://www.corpus.unam.mx:8069">Grupo de Ingeniería Lingüística</a>.</strong> U.N.A.M.
        </footer>

    </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/public/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
            <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <script>
                $.widget.bridge('uibutton', $.ui.button);
            </script>
            <script src="{{ asset('bundles/public/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/public/plugins/datatables/dataTables.min.js') }}"></script>
            <script src="{{ asset('bundles/public/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
            <script src="{{ asset('bundles/public/plugins/knob/jquery.knob.js') }}"></script>
            <script src="{{ asset('bundles/public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
            <script src="{{ asset('bundles/public/plugins/fastclick/fastclick.js') }}"></script>
            <script src="{{ asset('bundles/public/js/app.min.js') }}"></script>
            <script src="{{ asset('bundles/public/js/dashboard.js') }}"></script>
            <script src="{{ asset('bundles/public/js/demo.js') }}"></script>
            <script src="{{ asset('bundles/public/js/vis.js') }}"></script>
        {% endblock %}
    </body>