<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        {% block stylesheets %}

            <link href="{{ asset('bundles/public/css/vis.css') }}" type="text/css" />
            <link href="{{ asset('bundles/public/css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/public/css/modern-business.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/public/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/public/images/ilinguistica_on.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/public/js/vis.js') }}"></script>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="{{ asset('bundles/gilappsimilitud/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/public/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>