<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Similitud | UNAM </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('bundles/public/css/bootstrap.min.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/public/plugins/datatables/dataTables.bootstrap.css') }}">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
                <link rel="stylesheet" href="{{ asset('bundles/public/css/AdminLTE.min.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/public/css/skins/_all-skins.min.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/public/plugins/iCheck/flat/blue.css') }}">
                <link rel="stylesheet" href="{{ asset('bundles/public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
                <link href="{{ asset('bundles/public/css/vis.css') }}" type="text/css" />
            {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/public/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
            <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <script>
                $.widget.bridge('uibutton', $.ui.button);
            </script>
            <script src="{{ asset('bundles/public/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/public/plugins/datatables/dataTables.min.js') }}"></script>
            <script src="{{ asset('bundles/public/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
            <script src="{{ asset('bundles/public/plugins/knob/jquery.knob.js') }}"></script>
            <script src="{{ asset('bundles/public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
            <script src="{{ asset('bundles/public/plugins/fastclick/fastclick.js') }}"></script>
            <script src="{{ asset('bundles/public/js/app.min.js') }}"></script>
            <script src="{{ asset('bundles/public/js/dashboard.js') }}"></script>
            <script src="{{ asset('bundles/public/js/demo.js') }}"></script>
            <script src="{{ asset('bundles/public/js/vis.js') }}"></script>
        {% endblock %}
    </body>