{% extends 'base2.html.twig' %}
{% block body %}
    <section class="content-header">
        <h1>
            Consulta de Similitud
            <small>de Proyectos</small>
        </h1>
        <ol class="breadcrumb">
            <li ><a href="{{ path('_index') }}"><i class="fa fa-home"></i> Home</a></li>
            <li class="active"><i class="fa fa-list-ol"></i> Consulta de Similitud de Proyectos</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Proyectos con similitud calculada</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table id="docs" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Título</th>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for repo in repos %}
                                <tr>
                                    <td>{{ repo.idrepositorio }}</td>
                                    <td><a href="{{ path('_repositorio',{'pid': repo.idrepositorio}) }}">{{ repo.titulorepositorio }}</a></td>
                                    <td>{{ repo.descripcionrepositorio }}</td>
                                    <td class="text-center">
                                        <div class="btn-group btn-group-xs">
                                            <a href="{{ path('_repositorio',{'pid': repo.idrepositorio}) }}" class="label label-info" style="display: block;" data-toggle="tooltip" data-placement="top" title="Haz click para consultar la similitud entre los documentos del proyecto"><i class="fa fa-list-ol"></i> Consultar</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ asset('bundles/public/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/public/js/datatable_init.js') }}"></script>
    <script>$(function(){DataTable.init(); })</script>

{% endblock %}