{% extends iframe == 'iframe' ? '::iframe_base2.html.twig' : '::base2.html.twig' %}
{% block body %}
    <div id="modal-inicio" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header label-info">
                    <h4 class="modal-title"><i class="fa fa-info"></i> Proceso solicitado</h4>
                </div>
                <div class="modal-body">
                    <p>El proceso de cálculo de similitud ha iniciado, si lo deseas puedes dejar abierta esta ventana para recibir mensajes del proceso, o puedes revisar el estatus del proceso accediendo a los repositorios calculados de esta aplicación más tarde</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-aceptar-inicio" type="button" class="btn btn-default pull-left" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-proceso" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header label-info">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="btn-aceptar-modal" type="button" class="btn btn-default pull-left" data-dismiss="modal">Aceptar</button>
                    <button id="btn-ir-modal" type="button" class="btn btn-default pull-left" data-dismiss="modal">Consultar Proyecto</button>
                </div>
            </div>
        </div>
    </div>

    <section class="content-header">
        <h1>
            {{ project['name'] }}<br>
            <small>Obtención de similitud</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                {% if exists == false %}
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i> </button>
                    <h4><i class="icon fa fa-info-circle"></i>Atención</h4>
                    <p>Estos son los documentos que contiene el proyecto y te los presentamos para que valides que todo está correcto. Al hacer click en <b>Iniciar Proceso</b> se calculará la similitud textual entre todos ellos. Si requieres hacer cambios en el proyecto, puedes hacerlos en el repositorio y posteriormente volver cuando estés listo.</p>
                </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i> </button>
                        <h4><i class="icon fa fa-info-circle"></i>Atención</h4>
                        <p>Este proyecto ya existe en esta aplicación, por lo que estás a punto de recalcular la similitud de este proyecto. La información generada anteriormente se verá afectada por este nuevo proceso.</p>
                    </div>
                {% endif %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Documentos de {{ project['name'] }}</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table id="docs" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Creado el</th>
                                <th>Procesamiento</th>
                                {% for meta in metadata_headers %}
                                    <th>{{ meta }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in files %}
                                <tr>
                                    <td>{{ file['id'] }}</td>
                                    <td>{{ file['name'] }}</td>
                                    <td>{{ file['create_date'] }}</td>
                                    <td>{{ file['processing_status'] }}</td>
                                    {% for key,meta in file['metadata'] %}
                                        <td>
                                            {{ meta }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            {#<a href="{{ path('_calculate',{'idrepo':idrepo}) }}" id="btn-calcular" class="btn btn-app text-blue"><i class="fa fa-pie-chart"></i> Iniciar proceso</a>#}
            <a id="btn-calcular" class="btn btn-app text-blue"><i class="fa fa-pie-chart"></i> Iniciar proceso</a>
        </div>
    </section>
    <script src="{{ asset('bundles/public/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/public/js/datatable_init.js') }}"></script>
    <script src="{{ asset('bundles/public/plugins/pace/pace.min.js') }}"></script>
    <script>$(function(){DataTable.init(); })</script>
    <script>$(function(){

                var repoid = {{ idrepo }};

                $(document).ajaxStart(function() { Pace.restart(); });

                $('#btn-calcular').click(function(){

                    $(this).html('<i class="fa fa-spin fa-refresh"></i> Calculando');

                    $.get( '/similitud/coseno/'+repoid)
                            .done(function(data, status ) {
                                prepareModal(data, status)
                            })
                            .fail(function(error) {
                                prepareModal(error)
                            });
                });

                $('#btn-aceptar-modal').click(function(){

                    $('#modal-proceso').hide();
                    window.location.href='/similitud';
                });

                $('#btn-ir-modal').click(function(){

                    $('#modal-proceso').hide();
                    window.location.href='/similitud/repo?pid='+repoid+'&embed=0';
                });

                function prepareModal(data) {

                    $('.modal-title').html(data.title);
                    $('.modal-body').html(data.description);
                    $('#modal-proceso').show();
                }
            });
    </script>

{% endblock %}