{% extends iframe == '1' ? '::iframe_base2.html.twig' : '::base2.html.twig' %}
{% block body %}

        <ol class="breadcrumb">
            {% if iframe != 'iframe' %}
                <li><a href="{{ path('_index') }}"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="{{ path('_consultar') }}"><i class="fa fa-list-ol"></i> Consulta de Similitud de Proyectos</a></li>
            {% endif %}
            <li><a href="{{ path('_repositorio',{'pid':idrepo, 'embed':iframe}) }}"><i class="fa fa-list-ul"></i> Ir a {{ titulorepo }}</a></li>
        </ol>
    <section class="content-header">
        <h1>
            <i class="fa fa-file-o"></i> <b>{{ documento[1] }}</b>
            <br><small>Similitud con otros documentos</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Descripción</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            Opciones <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ asset('files/reporte_'~idrepo~'.csv') }}">Generar reporte en CSV</a></li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ documento[3] }}" target="_blank">Ver en línea</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        {% if params is not empty %}
                                            {% for key, value in params %}
                                                <h4><b>{{ key|title }}</b></h4>
                                                <p>{{ value|title }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <a id="btn-ver" class="btn btn-app text-blue"><i class="fa fa-eye"></i> Ver documento</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="mynetwork"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="modal-ver" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header label-info">
                    <h4 class="modal-title"><i class="fa fa-eye"></i> Ver documento</h4>
                </div>
                <div class="modal-body" style="height: 300px; overflow:auto;"><p>{{ content }}</p></div>
                <div class="modal-footer">
                    <button id="btn-aceptar" type="button" class="btn btn-default pull-left" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/public/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/public/js/grafo.js') }}"></script>
    <script>$(function(){ Grafo.init({{ documento|escape|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},{{ results_json|escape|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}); });</script>
    <script>$(function(){

            $('#btn-ver').click(function(){

                $('#modal-ver').show();
            });

            $('#btn-aceptar').click(function(){

                $('#modal-ver').hide();
            });

        });</script>

{% endblock %}