{% extends 'iframe_base.html.twig' %}

{% block body %}
        <div class="col-lg-12" align="middle">
            <h4>{{ doc.getTitulodocumento() }}
            </h4>
            <br>
            <h5>
                <a href="{{ path('_repositorio',{'id': idrepo, 'iframe': 'iframe'}) }}">{{ "Buscar otro documento" }}</a>
            </h5>
            <br>
            <hr>
        </div>
    <div class="col-lg-4" align="left">
        <h4>Resúmen</h4>
        <p style="text-align: justify;">{{ doc.getDescripciondocumento()|length > 300 ? doc.getDescripciondocumento()|slice (0,300) ~ '...': doc.getDescripciondocumento() }}</p>
        <h4>Autor</h4>
        <p style="text-align: justify;">{{ doc.getAutordocumento() }}</p>
        <br>
        <h4><a href = "{{ doc.getRutadocumento()|escape }}">Descargar PDF</a></h4>
    </div>

        <div class="col-lg-8" align="middle">
            <h4>Similitud con otros documentos</h4>
            <br>
            <div id="mynetwork">
            </div>
        </div>


    <script type="text/javascript">
        var doc = {{ doc_json|escape|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
        var datos = {{ results_json|escape|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
        var nodes = [];
        var edges = [];
        var network = null;
        var etiq = null;

        window.onload = function() {

            datos.sort(function (a,b){
                return b[2] - a[2];
            });

            nodes.push({
                id:0, value: 100, label: '', title: doc[1], identifier: doc[0]
            });

            for(i=0; i<datos.length; i++)
            {
                nodes.push({
                    id: 1+i, value: (datos[i][2]*100), label: (datos[i][2]*100).toFixed(0)+"%", title: datos[i][1], identifier: datos[i][0]
                });

                if(i==14) break;

            }

            for (j = 1; j<nodes.length; j++)
            {
                edges.push({
                    from: 0, to: nodes[j].id, value: nodes[j].value, title: nodes[j].title
                });
            }

            var container = document.getElementById('mynetwork');

            var data = {
                nodes: nodes,
                edges: edges
            };

            var options = {
                autoResize: true,
                clickToUse: true,
                width: '100%',
                height: '550px',
                nodes: {
                    fontColor: 'black',
                    color: {
                        background: '#3399ff',
                        border: 'grey',
                        highlight: {
                            background: 'yellow',
                            border: '#666666'
                        }
                    },
                    shape: 'dot'
                },
                edges: {
                    color: '#97C2FC',
                    width: 3
                },
                tooltip:{
                    delay:100,
                    fontColor:"black",
                    fontSize:12,
                    color:{
                        border: "#000000",
                        background:"#FFFFFF"
                    }
                },
                physics:{
                    enabled: false
                    }
                };
            network = new vis.Network(container, data, options);
            network.on('doubleClick', function(properties){
                window.location.assign("{{ url('_index') }}"+ "doc/"+"{{ idrepo }}"+'/'+nodes[properties.nodes].identifier+'/iframe');
            });
        }
    </script>

{% endblock %}