{% extends 'base2.html.twig' %}
{% block body %}
        <section class="content-header">
            <h1>
                App de Similitud
                <small>Grupo de Ingeniería Lingüística</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active"><a href="{{ path('_index') }}"><i class="fa fa-home"></i> Home</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <section class="col-lg-12 connectedSortable">
                    <div class="box box-solid bg-light-blue-gradient">
                        <div class="box-header">
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Cerrar" style="margin-right: 5px;">
                                    <i class="fa fa-minus"></i></button>
                            </div>
                            <i class="fa fa-info-circle"></i>
                            <h3 class="box-title">
                                Bienvenido
                            </h3>
                        </div>
                        <div class="box-body">
                            <h3>En esta nueva aplicación podrás: </h3>
                            <br>
                            <p><i class="fa fa-chevron-right"></i>Calcular la similitud de un proyecto existente en GECO.</p>
                            <p><i class="fa fa-chevron-right"></i>Consultar la similitud entre los documentos de un proyecto.</p>
                        </div>
                    </div>
                </section>
            </div>

            <div class="row">
                <div class="col-lg-6 col-xs-6">

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Lista de repositorios</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Acceso</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for proj in proj_list %}
                                    <tr>
                                        <td><a href="{{ path('_repositorio',{'pid':proj.id,'embed':'0'}) }}">{{ proj.id }}</a></td>
                                        <td><a href="{{ path('_repositorio',{'pid':proj.id,'embed':'0'}) }}">{{ proj.name }}</a></td>
                                        <td><span class="label label-info">{{ proj.access == 'public' ? 'Público' : 'Privado' }}</span></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <a href="http://www.corpus.unam.mx/geco" class="btn btn-sm btn-default btn-flat pull-left">Ir al GECO</a>
                        </div>
                    </div>
                </div>

                {% if app.session.get('username') != 'public' %}
                    <div class="col-lg-6 col-xs-6">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>{{ calculated }}</h3>
                                <p>Proyectos Calculados</p>
                                <br>
                            </div>
                            <div class="icon">
                                <i class="fa fa-list-ol"></i>
                            </div>
                            <a href="{{ path('_consultar') }}" class="small-box-footer"> Consultar <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>

{% endblock %}