<head>
    <script type="text/javascript">
        function redirige(){
            document.forms["redir"].submit();
        }
    </script>
</head>
<body onload="redirige();">
<form name="redir" method="post" action="http://dev.similitud.iingen.unam.mx/app_dev.php/">
    {% for key, d in data %}
        <input type="hidden" name="{{ key }}" value="{{ d }}">
    {% endfor %}
</form>
</body>