{% extends 'iframe_base.html.twig' %}
{% block body %}
        <div class="col-lg-12" align="middle">
            <h3>Consultar Documentos</h3>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ "Seleccione un documento" }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for doc in docs %}
                        <li>
                            <a href="{{ path('_documento',{'idrepo': idrepo,'iddoc':doc.iddocumento, 'iframe':iframe}) }}">{{ doc.titulodocumento|length > 50 ? doc.titulodocumento|slice (0,50) ~ '...': doc.titulodocumento }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}