{% extends iframe == '1' ? '::iframe_base2.html.twig' : '::base2.html.twig' %}
{% block body %}
    <section class="content-header">
        <h1>
            {{ titulorepo }}
            <br><small>Similitud de documentos</small>
        </h1>
        {% if iframe != 'iframe' %}
            <ol class="breadcrumb">
                <li><a href="{{ path('_index') }}"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="{{ path('_consultar') }}"><i class="fa fa-list-ol"></i> Consulta de Similitud de Proyectos</a></li>
                <li>{{ titulorepo }}</li>
            </ol>
        {% endif %}
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Documentos de {{ titulorepo }}</h3>
                        <span id="pidDetails"></span>
                        <span id="pidStatus" data-toggle="tooltip" data-placement="top" title="Valida que los documentos se hayan calculado correctamente. De no ser así, intenta recalculando la similitud del proyecto"></span>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table id="docs" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Título</th>
                                {% for key in metadata_headers %}
                                    <th>{{ key|title }}</th>
                                {% endfor %}
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for doc in docs %}
                                <tr>
                                    <td>{{ doc.iddocumento }}</td>
                                    <td><a href="{{ path('_documento',{'idrepo': idrepo, 'idd':doc.iddocumento, 'iframe':iframe}) }}">{{ doc.titulodocumento }}</a></td>
                                    {% for i in doc.descripciondocumento %}
                                        <td>{{ i|title }}</td>
                                    {% endfor %}
                                    <td class="text-center">
                                        <div class="btn-group btn-group-xs">
                                            <a href="{{ path('_documento',{'idrepo': idrepo, 'idd':doc.iddocumento, 'iframe':iframe}) }}" class="label label-info" style="display: block;" data-toggle="tooltip" data-placement="left" title="Haz click para consultar la similitud entre los documentos del proyecto"><i class="fa fa-file-o"></i> Ver similitud</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if app.session.get('username') != 'public' %}
        <div class="row text-center">
            <a target="_blank" href="{{ path('_create',{'pid': idrepo, 'embed':iframe}) }}" class="btn btn-app text-blue" data-toggle="tooltip" data-placement="top" title="Aquí puedes recalcular la similitud del proyecto si esta no aparece correctamente o si has realizado alguna modificación en el proyecto"><i class="fa fa-pie-chart"></i> Recalcular proyecto</a>
            <a id="btn-status" class="btn btn-app text-blue" data-toggle="tooltip" data-placement="top" title="Aquí puedes verificar si el proceso de similitud ya ha terminado"><i class="fa fa-repeat"></i> Estatus del proceso</a>
        </div>
        {% endif %}
    </section>

    <script src="{{ asset('bundles/public/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/public/js/datatable_init.js') }}"></script>
    <script>$(function(){DataTable.init(); })</script>
    <script>
        $(function(){

            var processId = {{ procId }};

            function setStatus(data) {

                if(data.alive === false || data.alive[3] === "<defunct>"){

                    $('#pidDetails').html('').removeAttr('class');
                    $('#pidStatus').html('<i class="fa fa-check"></i> Terminado').attr('class','btn-sm btn-success pull-right');
                }
                else{

                    $('#pidStatus').html('<i class="fa fa-clock-o"></i> En proceso: ' + data.alive[1]).attr('class','btn-sm btn-warning pull-right');

                    $('#pidDetails').html(
                            ' PID: '+ data.alive[0]+' / '+ data.alive[2]
                    ).attr('class','btn-sm btn-warning pull-right');
                }
            }

            function checkStatus(process){

                $.get( '/similitud/checkpid?pid='+process)
                    .done(function(data){
                        setStatus(data)
                    }
                );
            }

            checkStatus(processId);

            $('#btn-status').click(function(){

                checkStatus(processId);
            });

        })
    </script>

{% endblock %}