{% extends 'base.html.twig' %}

{% block body %}
    <!-- Navigation -->
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url({{ asset('bundles/public/images/inicio.jpg') }});"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url({{ asset('bundles/public/images/investigacion.jpg') }});"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{{ "Aplicación de Similitud Textual" }}</h2>
            </div>
            <div class="col-md-6">
                <p>{{ "Obten la similitud textual entre los documentos de un repositorio:"}}<p>
                <ul>
                    <li><strong>{{ "Soporte máximo de hasta 200 documentos" }}</strong></li>
                    <li>{{ "Elige entre varias medidas de similitud:" }}</li>
                    <ul>
                        <li>{{ "Coseno" }}</li>
                        <li>{{ "Levenshtein" }}</li>
                        <li>{{ "Entre otras" }}</li>
                    </ul>
                    <li>{{ "Obten los resultados de forma gráfica y en formato CSV" }}</li>
                    <li>{{ "Consulta los repositorios de otros usuarios" }}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="panel-title"><strong>{{ "Ejemplo" }}</strong></p>
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <h2 class="page-header">{{ "Acciones" }}</h2>
        <!-- Instrucciones-->
        {#% if(app.session.get('username') != 'public') %#}
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p><strong>{{ "Subir" }}</strong>{{ " archivos al ERP" }}</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="http://uploader.iingen.unam.mx/">{{ "Cargar" }}</a>
                </div>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p><strong>{{ "Seleccionar archivos"}}</strong>{{ " y crear un repositorio" }}</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="{{ path('_create') }}">{{ "Crear repositorio" }}</a>
                </div>
            </div>
        </div>
        {#% endif %#}

        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p><strong>{{ "Consultar"}}</strong>{{ " los repositorios existentes" }}</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="{{ path('_consultar') }}">{{ "Consultar" }}</a>
                </div>
            </div>
        </div>

        <hr>
    </div>

    <script>
        $('.carousel').carousel({
            interval: 3000
        })
    </script>

{% endblock %}